<ion-content>
  <div id ="header">
    <div id="app-bar">
      <ion-icon slot="icon-only" color="lght" name="arrow-back" routerLink="/home"></ion-icon>
    </div>
    <h1>FAQs</h1>
    <p>Frequently Asked Questions</p>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content class="bg">
        <ion-list>
          <ion-item-group>
            <ion-item-divider class="bg">
              <ion-label class="des"> Account </ion-label>
            </ion-item-divider>
        <ion-accordion-group>
          <ion-accordion value="first" class="bg">
            <ion-item slot="header" color="dark">
              <ion-label><p>Do I need to create an account to</p>
                <p>browse the services?</p></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">No, it is not necessary to create an account to mainly browse. However, you will be needing an account to complete your transaction and create a reservation.</div>
          </ion-accordion>
          <ion-accordion value="second" class="bg">
            <ion-item slot="header" color="dark">
              <ion-label><p>Can I register in behalf</p>
                <p>of my organization?</p></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Yes, you may but the application asks for your contact details such as your name details. Make sure you have a representative in behalf of your organization.</div>
          </ion-accordion>
          <ion-accordion value="third" class="bg">
            <ion-item slot="header" color="dark">
              <ion-label><p>How can I retrieve my password?</p></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">You can retrieve your password by clicking “forgot password?”. Instruction on password retrieval will be send to your email.</div>
          </ion-accordion>
          <ion-accordion value="fourth" class="bg">
            <ion-item slot="header" color="dark">
              <ion-label><p>How do I change my personal </p>
                <p>details or email address?</p></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">You can edit your personal details by navigating "Account" > and access your details.</div>
          </ion-accordion>
        </ion-accordion-group> 

        <ion-list>
          <ion-item-group>
            <ion-item-divider class="bg">
              <ion-label class="des"> Reservation </ion-label>
            </ion-item-divider>
        <ion-accordion-group>
          <ion-accordion value="first" class="bg">
            <ion-item slot="header" color="dark">
              <ion-label><p>How can I reserve?</p></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">When you find a service you need, you can add it to cart, and go through the reservation process. After the desired reservation is ready, you will receive an invoice to your email. This will also be stored to your account.</div>
          </ion-accordion>
          <ion-accordion value="second" class="bg">
            <ion-item slot="header" color="dark">
              <ion-label><p>What payment methods can I use?</p></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">We do not handle payments online. After the scheduled return of your rented equipment, you will be billed accordingly. </div>
          </ion-accordion>
          <ion-accordion value="third" class="bg">
            <ion-item slot="header" color="dark">
              <ion-label><p>How can I retrieve my password?</p></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">You can retrieve your password by clicking “forgot password?”. Instruction on password retrieval will be send to your email.</div>
          </ion-accordion>
          <ion-accordion value="fourth" class="bg">
            <ion-item slot="header" color="dark">
              <ion-label><p>How can I see the availability?</p></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">All the equipment and service which are shown on our app are available. Reservation lead time depends on the products and quantities.</div>
          </ion-accordion>
        </ion-accordion-group>

        <ion-list>
          <ion-item-group>
            <ion-item-divider class="bg">
              <ion-label class="des"> Customer Support </ion-label>
            </ion-item-divider>
        <ion-accordion-group>
          <ion-accordion value="first" class="bg">
            <ion-item slot="header" color="dark">
              <ion-label><p>How can I contact customer service?</p></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">On pricing and shipping related issues you can contact customer support at hytest@hytest.fi or call +358-2-512-0900. It is also available on the Contact Us page.</div>
          </ion-accordion>
          <ion-accordion value="second" class="bg">
            <ion-item slot="header" color="dark">
              <ion-label><p>Can I make an inquiry without</p>
                <p>logging in?</p></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Yes, you can but the application asks for your personal details to customize the response. Otherwise, you can access FAQs.</div>
          </ion-accordion>
        </ion-accordion-group>
    