<ion-header> 
  <ion-toolbar>
    W Construction and Equipment Rentals
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background-container">

    <ion-img src="assets/Logo.png" height="50" width="50"></ion-img>

    <p>Wilson Leandro Rivera, a provincial board member in the 2nd District of Batangas. BM Rivera manages a project, which is a batching plant, an equipment that combines different ingredients to form concrete at As-is, Bauan, Batangas.</p>
      
    <ion-card-content>
      <ion-button (click)="getStart()">
        GET STARTED
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>

      <ion-button fill="outline" color="light" (click)="inquire()">
        INQUIRE NOW
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
</div>
</ion-content>


